*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    background-color: black;
    color: white;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;
}

.header{
   grid-area: header;
   display: flex;
   justify-content: center;
   align-items: center;
}
.logo {
    width: 150px;
    height: auto;
}

.main{
    grid-area: main;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.Jupiter img, .Gravity img, .Comet img, .Helios img {
    width: 256px;
    height: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
}

.footer{
   grid-area: footer;
   display: flex;
   justify-content: center;
   align-items: center;
}